{% extends "layouts/base.html" %} {% load static %} {% block styles %}

<link rel="stylesheet" href="{% static '/styles/index.css' %}" />

{% endblock %} {% block content %}
<main>
  <div class="flex-container">
    <div>
      <div class="logo-container">
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g>
            <path
              d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
              fill="#e7e9ea"
            />
          </g>
        </svg>
        <!-- <svg
          xmlns="http://www.w3.org/2000/svg"
          width="300"
          height="300.251"
          version="1.1"
        >
          <path
            d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66"
            fill="#e7e9ea"
            stroke="#e7e9ea"
            stroke-width="0"
          />
        </svg> -->
      </div>
    </div>
    <div>
      <h1>Lo que está pasando ahora</h1>
    </div>
  </div>
</main>
{% endblock %}
