{% extends "layouts/base.html" %} {% load static %} {% block styles %}

<link rel="stylesheet" href="{% static '/styles/index.css' %}" />

{% endblock %} {% block content %}
<main>
  <div class="flex-container">
    <section class="layout">
      <div id="logo-container" class="grow1">
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g>
            <path
              d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
              fill="#e7e9ea"
            />
          </g>
        </svg>
      </div>
      <div class="grow1">
        <div class="title">
          <h1>Lo que está pasando ahora</h1>
        </div>
      </div>
    </section>
  </div>
  <style>
    h1,
    p {
      font-family: "XFont";
      font-size: 4rem;
      line-height: 84px;
      letter-spacing: -1.2px;
      text-overflow: unset;
    }

    .title {
      max-width: 50%;
    }

    body {
      background-color: #000;
      color: white;
      /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; */
    }

    #logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 35vw;
    }

    svg {
      min-height: 45vh;
      width: 50%;
    }

    .layout {
      width: 100%;
      height: 100dvh;
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
    }

    .grow1 {
      flex-grow: 1;
    }
    .shrink0 {
      flex-shrink: 0;
    }
  </style>
</main>
{% endblock %}
